<header class="site-header wrapper" role="banner">
    <div class="row">
        <hgroup>
            <h1 class="site-title">
                <a href="/" title="{{ site.title }}" rel="home">TVT</a>
            </h1>
            
            <h2 class="site-description">{{ site.description }}</h2>
            
        </hgroup>
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <input id="nav-toggle" type="checkbox" />
            <label for="nav-toggle">MENU <i class="fa menu-toggle" aria-hidden="true"></i></label>
            <ul id="nav">
                <li class="menu-item {{ page.url | active_then_set_current:'/'}}"><a href="/">TRANG CHỦ</a></li>
                <li class="menu-item {{ page.url | active_then_set_current:'truyen-dai'}}"><a href="/truyen-dai/">TRUYỆN DÀI</a></li>
                <li class="menu-item {{ page.url | active_then_set_current:'truyen-ngan'}}"><a href="/truyen-ngan/">TRUYỆN NGẮN</a></li>
                <li class="menu-item {{ page.url | active_then_set_current:'one-shot'}}"><a href="/one-shot/">ONE-SHOT</a></li>
                <li class="menu-item {{ page.url | active_then_set_current:'manga'}}"><a href="/manga/">MANGA</a></li>
                <li class="menu-item {{ page.url | active_then_set_current:'tim-kiem'}}"><a href="/tim-kiem/"><i class="fa fa-search"></i>&nbsp;TÌM TRUYỆN</a></li>
            </ul>
        </nav>
    </div>
</header>
