<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cherry%20Swash:400&amp;subset=latin">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noticia%20Text:300,400,600,700,800,900,300italic,400italic,600italic,700italic,800italic,900italic&amp;subset=latin,latin-ext,vietnamese">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
{% capture styles %}
{% include styles.scss %}
{% endcapture %}
<style amp-custom>
{{ styles | scssify }}
</style>
