$theme-color: #69b930;
$theme-color-text-contrast: #FFFFFF;

body {
    font-family: "Noticia Text",Georgia,serif;
}
.entry-title {
    margin-top: 0;
    text-align: center;
    
    & > span {
        font-size: .5em;
        display: block;
        color: rgba(0,0,0,.6);
        
        &:not(.no-dash):before {
            content: '- ';
        }
        &:not(.no-dash):after {
            content: ' -';
        }
        
        @media (max-width: 767px) {
            font-size: .7em;
        }
    }
}
.entry-meta {
    + .entry-meta {
        padding-top: 0;
    }
    > span > span {
        color: #444;
    }
}
h1, h2, h3, h4, h5, h6, .main-navigation ul li, dt {
    font-family: "Noticia Text", Georgia, serif;
}
h1.site-title a {
    font-family: "Cherry Swash",Georgia,serif;
}
a {
    color: $theme-color;
    &:hover {
        color: darken($theme-color, 10%);
    }
}
.main-navigation {
    label[for="nav-toggle"] {
        display: none;
        padding: .4em 0;
        max-width: 190px;
        margin: auto;
        text-align: left;
        cursor: pointer;
        
        > i {
            float: right;
            margin-top: 4px;
        }
    }
    #nav-toggle {
        display: none;
    }
    ul {
        .current_page_item > a, .current-menu-item > a {
            color: $theme-color;
        }
        .menu-item-has-children > a {
            &:hover, &:active, &:focus {
                + .sub-menu {
                    display: block;
                }
            }
        }
    }
    
    @media (max-width: 767px) {
        label[for="nav-toggle"] {
            display: block;
            i.menu-toggle:before {
                content: "\f0c9";
            }
        }
        #nav-toggle:checked {
            + label {
                i.menu-toggle:before {
                    content: "\f00d";
                }
            }
            ~ ul {
                display: block;
                transition: max-height .3s cubic-bezier(0.4, 0.0, 1, 1);
                max-height: 600px;
            }
        }
        > ul {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            display: block;
            transition: max-height .3s cubic-bezier(0.0, 0.0, 0.2, 1);
            li {
                display: block;
            }
        }
    }
}

hr.post-divider {
    max-width: 300px;
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: none;
    margin: auto;
    margin-bottom: 16px;
}

nav.page-links {
    text-align: center;
    margin: 16px 0;
    
    a {
        padding: 4px 8px;
        margin: 0 4px;
        
        &:not(.prev):not(.next) {
            border: 1px solid $theme-color;
        }
        &.prev:before {
            content: '<\00a0'
        }
        &.next:after {
            content: '\00a0>'
        }
        &.current {
            background-color: $theme-color;
            color: $theme-color-text-contrast;
        }
    }
    
    span {
        padding: 4px 8px;
    }
}

.post-list {
    padding-top: 0;
    
    li span.date a {
        color: inherit;
        text-decoration: underline;
    }
    
    &.latest {
        li {
            text-align: center;
            h3, .date {
                float: none;
            }
        }
    }
}

amp-social-share {
    &[type] {
        font: normal normal normal 14px/1 FontAwesome;
        background-color: transparent;
        background-image: none;
        display: inline-block;
        color: #444;
        margin: 0 2px;
    }
    &[type=facebook]:before {
        content: "\f09a";
    }
    &[type=twitter]:before {
        content: "\f099";
    }
    &[type=gplus]:before {
        content: "\f0d5";
    }
    &[type=tumblr]:before {
        content: "\f173";
    }
}

.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
    &-underline {
        text-decoration: underline;
    }
    &-line-through {
        text-decoration: line-through;
    }
    &-small {
        font-size: small;
    }
    &-medium {
        font-size: medium;
    }
    &-large {
        font-size: large;
    }
    $colors: "red" "blue" "gray" "000080" "888888" "800080" "c0c0c0" "808080" "ff00ff" "a52a2a" "008000" "696969" "708090" "999999" "808000";
    @each $color in $colors {
        &-#{$color} {
            color: #{"#" + $color};
        }
    }
}
