---
layout: chrome
---
<div class="readable-content blog-single">
    <article>
        <header class="entry-header">
            <h1 class="entry-title">{{ page.title }}</h1>
        </header>
        <div class="entry-meta">
            <span class="post-category">
                <i class="fa fa-folder"></i>
                {% for category in page.categories %}
                <a href="{{ category | slugify | prepend:site.archives.category.path }}" rel="category tag">{{ category }}</a>
                {% endfor %}
            </span>
            <span class="post-date">
                <i class="fa fa-clock-o"></i>&nbsp;<a href="{{ page.subposts[0].permalink | default: page.permalink }}">{{ page.date | date:'%d-%m-%Y'}}</a>
            </span>
            <span class="by-author">
                <i class="fa fa-user"></i>&nbsp;<span class="author vcard"><a href="{{ page.contributor | slugify | prepend:site.archives.contributor.path }}">{{ page.contributor }}</a></span>
            </span>
        </div>
        <div class="entry-meta">
            <span class="pageviews">
                <i class="fa fa-eye"></i>&nbsp;<span class="count">{{ page.subposts[0].pageviews | default:page.pageviews | default: 0 | number }}</span>
            </span>
            <span class="share">
                <i class="fa fa-share"></i>&nbsp;<span>Chia sẻ tới</span>
                <amp-social-share type="facebook" data-param-app_id="690309941023930" height="13px" width="auto"></amp-social-share>
                <amp-social-share type="twitter" height="13px" width="auto"></amp-social-share>
                <amp-social-share type="gplus" height="13px" width="auto"></amp-social-share>
                <amp-social-share type="tumblr" height="13px" width="auto"></amp-social-share>
            </span>
        </div>
        <div class="entry-content clearfix">
            {{ content | wpautop }}
            {% if page.subposts.size > 1 %}
            <nav class="page-links clearfix">
                {{ page.subposts | pagination:page.subpost_index }}
            </nav>
            {% endif %}
        </div>
        <footer class="entry-meta post-tags">
            {% for tag in page.tags %}
            <a href="{{ tag | slugify | prepend:site.archives.tag.path }}">{{ tag | escape }}</a>
            {% endfor %}
        </footer>
    </article>
    {% if page.dsq_thread_id.size > 0 %}
    <amp-iframe width="600" height="140"
                layout="responsive"
                sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
                resizable
                src="{{ site.disqus_url }}?dsq_url={{ page.subpost[0].dsq_url | default:page.dsq_url | url_encode }}&amp;dsq_thread_id={{ page.dsq_thread_id | url_encode }}">
        <div overflow tabindex=0 role=button aria-label="Disqus">Loading disqus...</div>
    </amp-iframe>
    {% endif %}
</div>
